@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}
.custom-gradient {
  background: linear-gradient(60deg, #382c62, #604ca6);
}
.custom-model {
  background: linear-gradient(to right, #503a8b 70%, #8566e0);
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  overflow-y: scroll;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.ql-editor.ql-blank::before {
  color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Target the toolbar icons in the Quill editor */
/* .ql-toolbar .ql-stroke,
.ql-toolbar .ql-fill,
.ql-toolbar .ql-even {
  stroke: white !important;
  fill: white !important;
}

.ql-toolbar .ql-picker-label,
.ql-toolbar .ql-picker-item {
  color: white !important;
} */
